
.work-sans-normal{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.center{
    text-align: center;
    margin-top: 70px;
}

.btn-primary{
     background-color: rgba(224, 44, 109, 1);
     border: none;
     padding: 24px 10px 40px 10px;
     border-radius: 40px;
     color: white;
     font-size: 1rem;
     font-weight: bold;
     width: 190px;
     height: 40px;
     text-align: center;
}

.display{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* navbar style */
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
     color:rgba(58, 58, 58, 1) ;
     

}
.navbar{
    justify-content: space-between;
    align-items: center;
}

 .navbar{
    max-width: 1440px;
    margin: 0 auto;
}

/* camera style */
.camera{
    display: flex;
     justify-content: space-between;
}
.img{
    background-image: url(../images/Circle\ design.svg);
    margin-top: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.description{
    margin-top: 250px;
}
.camera-title{
    font-size: 3rem;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}
.camera-description{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(58, 58, 58, 1);
}

/* sponsor section */
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 120px;
    
}
.sponsor-company img{
    filter: grayscale(100%);
}

/* box style */
.popular{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(58, 58, 58, 1);
}
.box-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(24, 25, 31, 1);
}
.box-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.box-description{
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(120, 120, 133, 1);
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;

    background: white;
   
    border-radius: 8px;
    
    gap: 20px;
    padding: 20px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(121, 118, 118);
    border-radius: 10px;
     border: 1px solid #e0e0e0;
     overflow: hidden;
     padding: 15px;
     
 }
 .product-img img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 6px;
 }
 .pro{
    padding-top: 10px;
 }


 /* join style */
 .join{
    display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 100px;
     margin-left: 14px;
     height: 240px;
     margin-bottom: 100px;
     background-color: #EBF4F6;
     padding: 40px 50px;
 }
 .join-img img{
    width: 100%;
    object-fit: cover;
    max-width: 400px;
    height: auto;
    display: block;
 }
 /* .join-img{
    flex: 1;
 } */
 .join-container{

 }
.join-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(10, 8, 38, 1);
}
.join-description{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(108, 108, 108, 1);
}

 .join-btn{
    background-color: rgba(224, 44, 109, 1);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 24px 10px 40px 10px;
    border-radius: 40px;
    width: 190px;
     height: 40px;
     text-align: center;
     
 }
   

/* small device responsibe */
@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
     .nav-links{
        flex-direction: column;
        gap: 20px;
     }
     .camera{
        flex-direction: column-reverse;
        gap: 0px;
         
     }
     .img{
        width: 100%;
         background-repeat: no-repeat;
          
         background-size: contain;
         padding: 0;
           margin-top: 0;
         height:  200px;
         background-position: center top;
         background-image: none !important;
     }
     .description{
        text-align: center;
     }
     .sponsor-company{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 30px;
    margin-top: 50px;
  }
  .product-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .join{
    flex-direction: column;
    background-color: transparent;
    text-align: center;
  }
  .join-btn{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 50px;
     
  }

    
    
}

/* medium device style */
@media screen and (min-width:577px)and (max-width:990px)  {
    .navbar{
        flex-direction: column;
    }
     .nav-links{
        flex-direction: column;
        gap: 20px;
     }
     .camera{
        flex-direction: column-reverse;
        gap: 0px;
     }
      
     .img{
        width: 100%;
         padding: 0;
          margin-top: 50px; 
          margin-bottom: -150px;
         height: auto;
          text-align: center;
         background-image: none !important;
     }
      
     .description{
        text-align: center;
     }

     .sponsor-company{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* text-align: center; */
    margin-left: 70px;
    
}
.product-container{
    grid-template-columns: repeat(2, 1fr);
}
.join{
    flex-direction: column;
    background-color: transparent;
    text-align: center;
  }
  .join-btn{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 50px;
     
  }

    
}
 


